<!-- index list -->
<table class="table table-hover" >
  <thead>
      <tr>
        <th>#</th>
        <th>姓名</th>
        <th>簡稱</th>
        <th>聯絡電話</th>
        <th>email</th>
        <th></th>
      </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <th><%= @count += 1 %></th>
        <th><%= link_to person.nameFull,  person %></th>
        <th><%= link_to person.nameShort, person %></th>
        <th><%= person.phone %></th>
        <th><%= person.email %></th>
        <th class="text-right">
          <%= link_to person, class: "btn btn-sm btn-default" do %>
            <i class="glyphicon glyphicon-user"></i>
          <% end %>
          <%= link_to edit_person_path(person.id), class: "btn btn-sm btn-primary" do %>
            <i class="glyphicon glyphicon-edit"></i>
          <% end %>
          <%= button_tag type: "button", class: "btn btn-sm btn-danger",
                         data: { toggle: "modal",  target: "#oERP-modal",
                                 path: request.path, name: person.nameFull , id: person.id } do %>
            <i class="glyphicon glyphicon-trash"></i>
          <% end %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<!-- Create User Button -->
<div class="text-center">
  <%= link_to new_person_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i>
  <% end %>
</div>

<%= render 'shared/confirm_modal' %>