<h1>Person Information</h1>
<hr>

<ul>
  <li><%= @person.nameFull %></li>
  <li><%= @person.nameShort %></li>
  <li><%= @person.phone %></li>
  <li><%= @person.email %></li>
</ul>

<%= render 'shared/confirm_modal' %>

<hr>

<%= button_tag type: "button", class: "btn btn-danger",
               data: { toggle:    "modal", target:  "#oERP-modal",
                       path: request.path, name: @person.nameFull , id: '0' } do %>
  <i class="glyphicon glyphicon-trash"></i>
<% end %>

<%= link_to people_path, class: "btn btn-default" do %>
  <strong>back</strong>
<% end %>