<!-- User form_partial -->
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= simple_form_for @user do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :username, autofocus: true, placeholder: user_name(@user) %>
        <%= f.input    :email,  required: true, autofocus: true, placeholder: '- ex: abc@gmail.com...' %>
        <%= f.input    :phone, autofocus: true, placeholder: '- ex. 0987654321..', as: :tel %>
        <%= f.input      :sex, collection: [['N', 0], ['Male', 1], ['Female', 2]], include_blank: false %>

        <% if @user.new_record? %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
        <% end %>
      </div>
      <hr>
      <div class="form-actions text-right">
        <%= f.button  :submit,      @button, class: "btn btn-success" %>
        <%= link_to  "Cancel",   users_path, class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>