<!-- index list -->
<table class="table table-hover" >
  <thead>
      <tr>
        <th>#</th>
        <th>公司全名</th>
        <th>公司簡稱</th>
        <th>聯絡電話</th>
        <th>統一編號</th>
        <th></th>
      </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <th><%= @count += 1 %></th>
        <th><%= link_to company.nameFull, show_path(company) %></th>
        <th><%= company.nameShort %></th>
        <th><%= company.phone %></th>
        <th><%= company.taxId %></th>
        <th class="text-right">
          <%= link_to show_path(company), class: "btn btn-sm btn-default" do %>
            <i class="glyphicon glyphicon-list-alt"></i>
          <% end %>
          <%= link_to edit_path(company.id), class: "btn btn-sm btn-primary" do %>
            <i class="glyphicon glyphicon-edit"></i>
          <% end %>
          <%= button_tag type: "button", class: "btn btn-sm btn-danger",
                         data: { toggle: "modal",  target: "#oERP-modal",
                                 path: request.path, name: company.nameFull ,id: company.id } do %>
            <i class="glyphicon glyphicon-trash"></i>
          <% end %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<!-- Create User Button -->
<div class="text-center">
  <%= link_to new_path, class: 'btn btn-success' do %><i class="glyphicon glyphicon-plus"></i><% end %>
</div>

<%= render 'shared/confirm_modal' %>