<!-- Slidbar -->
<ul class="nav nav-pills nav-stacked">
    <li class="nav-header" > <a href="#" data-toggle="collapse" data-target="#financeMenu" aria-expanded="false" class="collapsed" >FINANCE
      <i class="glyphicon glyphicon-briefcase navbar-right"style="border:1px"></i></a>
        <ul class="nav nav-stacked collapse" id="financeMenu" aria-expanded="false" style="height: 0px;">
            <li class="active"> <a href="#"><i class="glyphicon glyphicon-usd"></i> Cashbook</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-pencil"></i> Checkbook</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-piggy-bank"></i> Bankbook</a></li>
        </ul>
    </li>
    <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#pssMenu" class="collapsed" aria-expanded="false"> P.S.W
      <i class="glyphicon glyphicon-shopping-cart navbar-right"></i></a>
        <ul class="nav nav-stacked collapse" id="pssMenu" aria-expanded="false" style="height: 0px;">
            <%= nav_li 'Purchase', "#" %>
            <%= nav_li 'Sales', "#" %>
            <%= nav_li 'Stock', "#" %>

        </ul>
    </li>
    <li class="nav-header">
        <a href="#" data-toggle="collapse" data-target="#infoMenu"> INFORMATION <i class="glyphicon glyphicon-info-sign navbar-right"></i></a>
        <ul class="nav nav-stacked collapse" id="infoMenu" aria-expanded="false" style="height: 0px;">
            <%= nav_li   'Client',   clients_path %>
            <%= nav_li 'Supplier', suppliers_path %>
            <%= nav_li  'Product',  products_path %>
        </ul>
    </li>
    <li class="nav-header">
        <a href="#" data-toggle="collapse" data-target="#repoMenu"> REPORT <i class="glyphicon glyphicon-stats navbar-right"></i></a>
        <ul class="nav nav-stacked collapse" id="repoMenu" aria-expanded="false" style="height: 0px;">
            <%= nav_li 'BlaBlaBla Report', "#" %>
            <%= nav_li 'ShaShaSha Report', "#" %>
        </ul>
    </li>
    <li class="nav-header">
        <a href="#" data-toggle="collapse" data-target="#settingMenu"> SETTING <i class="glyphicon glyphicon-cog navbar-right"></i></a>
        <ul class="nav nav-stacked collapse" id="settingMenu" aria-expanded="false" style="height: 0px;">
            <%= nav_li 'Company Information', edit_companyinfo_path(1) %>
            <%= nav_li    'User Information', users_path %>
            <%= nav_li      'User Authority', "#" %>
            <%= nav_li      'Shared Setting', "#" %>
        </ul>
    </li>
</ul>
