<!-- product form -->
<%= simple_form_for @product do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-sm-3 col-md-offset-3">
        <% if @product.image? %>
          <%= f.label 'Current image' %>
          <%= image_tag @product.image_url(:thumb) %>
          <%= f.label 'Delete image?' %>
          <%= f.check_box :remove_image %>
        <% end %>

        <%= f.input :image %>
        <%= f.hidden_field :image_cache %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <%= f.input :code, autofocus: true, placeholder: @code %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <%= f.input :name, autofocus: true, placeholder: @name %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <%= f.input :company_id, collection: @companies.map{ |c| [c.nameFull, c.id] },
            prompt: "選擇廠商.." %>
      </div>
      <div class="col-md-3">
        <%= f.input :category_id, collection: Category.all.map{ |c| [c.title, c.id] },
            prompt: "選擇種類.." %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-offset-3">
        <%= f.input :unit,  autofocus: true, placeholder: @unit %>
      </div>
      <div class="col-sm-2 ">
        <%= f.input :price, autofocus: true, placeholder: @price %>
      </div>
      <div class="col-sm-2 ">
        <%= f.input :bargain_price, autofocus: true, placeholder: @bargainPrice %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-offset-3">
        <%= f.input :buffer_stock, autofocus: true, placeholder: @bufferStock %>
      </div>
      <div class="col-sm-4 ">
        <%= f.input :end_date, autofocus: true, as: :date, html5: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-offset-3">
        <%= f.input :description,  autofocus: true, placeholder: @description %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-offset-3">
        <%= f.input :remark,  autofocus: true, placeholder: @remark %>
      </div>
    </div>

  </div>
  <hr>
  <div class="form-actions text-right">
    <%= f.button  :submit, @button, class: "btn btn-success" %>
    <%= link_to  "Cancel",   :back, class: "btn btn-default" %>
  </div>
<% end %>