<h1>Product List</h1>
<hr>
<table class="table table-hover" >
  <thead>
      <tr>
        <th>#</th>
        <th>商品代號</th>
        <th>商品名稱</th>
        <th>單位</th>
        <th>商品分類</th>
        <th>售價</th>
        <th>庫存量</th>
        <th>廠商</th>
        <th></th>
      </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <th><%= @count += 1 %></th>
        <th><%= link_to product.code, product %></th>
        <th><%= link_to product.name, product %></th>
        <th><%= product.unit %></th>
        <th>tag tag</th>
        <th><%= product.price %></th>
        <th><%= product.stock %></th>
        <th><%= link_to supplier_nameFull(product.company), supplier_link(product.company) %></th>
        <th class="text-right">
          <%= link_to product, class: "btn btn-sm btn-default" do %><i class="glyphicon glyphicon-oil"></i><% end %>
          <%= link_to edit_product_path(product.id), class: "btn btn-sm btn-primary" do %>
            <i class="glyphicon glyphicon-edit"></i>
          <% end %>
          <%= button_tag type: "button", class: "btn btn-sm btn-danger",
                         data: { toggle: "modal",  target: "#oERP-modal",
                                 path: request.path, name: product.name , id: product.id } do %>
            <i class="glyphicon glyphicon-trash"></i>
          <% end %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<!-- Create User Button -->
<div class="text-center">
  <%= link_to new_product_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i>
  <% end %>
</div>

<%= render 'shared/confirm_modal' %>