<!DOCTYPE html>
<html>
	<head>
	  <title>OERP</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<%= render 'shared/navbar' %>

		<div class="container" id="oERP-notice">
			<%= render 'shared/notice' %>
		</div>

		<div class="container-fluid">
			<div class="row">
				<% if user_signed_in? %>
					<div class="col-sm-3 col-md-2 col-lg-2" id="oERP-slidebar"><%= render 'shared/slidebar' %></div>
					<div class="container col-sm-9 col-md-10 col-lg-10"><%= yield %></div>
				<% else %>
					<div class="col-md-offset-4 col-md-3"><%= yield %></div>
				<% end %>
			</div>
		</div>

		<%= render 'shared/footer' %>

	</body>
</html>
