<!DOCTYPE html>
<html>
	<head>
	  <title>OERP</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'shared/navbar' %>

		<div class="container">
			<%= render 'shared/notice' %>
			<% if user_signed_in? %><%= yield %>
			<% else %>
			<div class="col-md-offset-4 col-md-4"><%= yield %></div>
			<% end %>
		</div>

		<%= render 'shared/footer' %>
		
	</body>
</html>
