<!DOCTYPE html>
<html>
	<head>
	  <title>OERP</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<%= render 'shared/navbar' %>

		<%= render 'shared/notice' %>

		<div class="container-fluid">
			<div class="row">
				<%= signed_slidebar %>
				<div id="<%= signed_id %>" class="<%= signed_yieldclass %>"><%= yield %></div>
			</div>
		</div>

		<%= render 'shared/footer' %>

	</body>
</html>
